.App {
  text-align: center;
}

.player1Choice {
  height: 40vmin;
  margin: 10px;
  align-content: space-around;
  pointer-events: none;
}

.player2Choice {
  height: 40vmin;
  margin: 10px;
  align-content: space-around;
  transform: scaleX(-1);
  pointer-events: none;
}

.buttons {
  margin: 10px;
  height: 50px;
  width: 200px;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

